# OSX
#
.DS_Store

# log
npm-debug.log
lerna-debug.log

# cache
.jest

# process
.env
.vscode

# test
coverage

# dependencies
node_modules

# build
build
dist
env-config.js

# etc
analytics.tgz

*.diff


.idea/*
patches
